.card-content{
  margin-top: 30px;
  padding: 10px 35px;
  text-align: justify;
}

.center-content{
  margin: 0 auto;
}

.footer-text{
  text-align: center;
}

.header-title{
  color: #fff !important;
  margin-top: 15px;
}

.icons{
  font-size: 24px;
  vertical-align: sub;
  margin-right: 10px;
}

.btn-load{
  text-align: center;
  margin-top: 35px;
}

.main-header{
  height: auto !important;
}

.search-box{
  vertical-align: middle;
}

.no-content{
  margin: 40%;
  text-align: center;
}

.loader{
  margin: 40%;
}